@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #140D4F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #00ffc8;
    border-radius: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    background-color: #140D4F;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: #d9d9d93d;
    width: 1450px;
    height: 69px;
    padding-top: 5px;
}

header img {
    cursor: pointer;
}

.logo {
    margin-left: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 100px;
    width: 100%;

}

header h1 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 30px;
}

.icon_pencil {
    margin-left: 20px;
    cursor: pointer;
    height: 52px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    text-decoration: none;
}

nav ul li a:hover {
    color: #6fedb7;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    border-bottom: 2px solid #FFFFFF;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 10%;
    background-color: #140D4F;
    flex: 1;
}

.container_main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    background-color: #140D4F;
}

.container_accueil {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #d9d9d93d;
    width: 1400px;
    height: 500px;
    padding-top: 20px;
    margin-top: 20px;
}

.container_mentions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: #d9d9d93d;
    width: 1400px;
    height: 650px;
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 20px;
}

.container_mentions h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    text-decoration: underline;
}

.container_mentions h2 {
    color: #00ffc8;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
}

.container_mentions p {
    color: #FFFFFF;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
}

.container_mentions a {
    color: #00ffc8;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    text-decoration: none;
}

.container_mentions a:hover {
    color: #cfcdcd;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    text-decoration: underline;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 40px;
}

.intro img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
    rotate: -10deg;
}

.animate__animated.animate__rubberBand {
    animation-duration: 2s;
}

.intro h2 {
    color: #6fedb7;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.intro p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    text-align: center;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
}

.features img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
    rotate: -10deg;
}

.features h2 {
    color: #6fedb7;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 30px;
    padding-left: 160px;
    padding-right: 200px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.features p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    padding-right: 100px;
    text-align: center;
}

.features a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.features a:hover {
    color: #6fedb7;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    text-decoration: underline;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
}

.contact img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
    rotate: -10deg;
}

.contact h2 {
    color: #6fedb7;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 30px;
    padding-left: 110px;
    padding-right: 200px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.contact p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    padding-right: 100px;
    text-align: center;
}

.contact a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.contact a:hover {
    color: #6fedb7;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    text-decoration: underline;
}

textarea {
    resize: none;
}

input + span {
    position: relative;
  }
  
input + span::before {
    position: absolute;
    
    right: -300px;
    bottom: 40px;
}
  
input:invalid {
    border: 2px solid red;
}
  
input:invalid + span::before {
    content: "✖";
    color: red;
}
  
input:valid + span::before {
    content: "✓";
    color: green;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    background-color: #397367;
}

.container_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1450px;
    height: 69px;
    padding-top: 5px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 100px;
    width: 100%;
}

.social img {
    height: 40px;
    width: 40px;
    margin-right: 50px;
}

.social h3 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    padding-right: 50px;
    text-decoration: underline;
}

.social a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.social a:hover {
    color: #6fedb7;
    font-size: 18px;
    font-weight: 300;
    text-decoration: underline;
}

.text p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
}

.mentions {
    display: flex;
    align-items: center;
    padding-right: 250px;
}

.mentions a {
   white-space: nowrap;
   color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
}

.mentions a:hover {
    color: #cfcdcd;
}

.container_contact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #d9d9d93d;
    width: 1400px;
    height: 750px;
    padding-top: 20px;
    margin-top: 0px;
}

.container_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
    gap: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container_form h2 {
    color: #6fedb7;
    font-weight: 500;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 40px;
    padding-left: 160px;
    padding-right: 200px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.container_form p {
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    padding-left: 160px;
    padding-right: 200px;
}

.container_form input {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.container_form input:focus {
    color: #397367;
}

.container_form textarea {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    padding-top: 10px;
}

.container_form button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #6fedb7;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.container_form button:hover {
    background-color: #397367;
}

.container_form label {
    color: #FFFFFF;
    font-weight: 300;
    text-align: left;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    padding-left: 160px;
    padding-right: 200px;
}

.container_contact select {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

.container_contact select:focus {
    outline: none;
}

.container_form input:focus {
    outline: none;
}

.container_form textarea:focus {
    outline: none;
}

.container_form button:focus {
    outline: none;
}

.container_form label:focus {
    outline: none;
}

.container_jeux {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #d9d9d93d;
    width: 1400px;
    height: 700px;
    padding-top: 20px;
    margin-top: 0px;
}

.jeux {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
    gap: 20px;
}

.jeux img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
    rotate: -10deg;
}

.jeux:hover img {
    height: 75px;
    width: 75px;
    margin-right: 50px;
    rotate: 360deg;
    transition: all 1s ease-in-out;
}

.jeux h2 {
    color: #FF7200;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 30px;
    padding-left: 160px;
    padding-right: 200px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.jeux p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    padding-right: 100px;
    text-align: center;
}

.jeux a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.jeux a:hover {
    color: #FF7200;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    text-decoration: underline;
}

.container_main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    background-color: #140D4F;
    flex: 1;
}

.quiz-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #d9d9d93d;
    width: 1400px;
    height: 700px;
    padding-top: 20px;
    margin-top: 0px;
    gap: 20px;
}

.quiz-container h2 {
    color: #FF7200;
    font-weight: 500;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 40px;
    padding-left: 160px;
    padding-right: 200px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.quiz-container p {
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 20px;
    padding-left: 160px;
    padding-right: 200px;
}

.quiz-container input {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.quiz-container button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #6fedb7;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.quiz-container button:hover {
    background-color: #397367;
}

.quiz-container h3 {
    color: #FF7200;
    font-weight: 500;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.body-thanks {
    height: 250px;
    margin-top: 300px;
    display: grid;
    place-items: center;
}

.body-thanks h1 {
    color: #ebc920;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
}

.body-thanks p {
    color: #ffffff;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.72);
}

.body-thanks a {
    color: #6fedb7;
    text-decoration: none;
}

.body-thanks a:hover {
    color: #397367;
    text-decoration: underline;
}

.animate__animated.animate__fadeInDown {
    animation-duration: 3s;
}

.animate__animated.animate__fadeInUp {
    animation-duration: 4s;
}

.animate__animated.animate__jackInTheBox {
    animation-duration: 2s;
}

.animate__animated.animate__zoomIn {
    animation-duration: 2s;
}